<%= link_to "Back", user_path(current_user) %>

<h3><%= @user_recipe.name %></h3>

<p>Ingredients:</p>
<ol>
  <% @user_recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient), id: "ingredient-link-#{ingredient.id}" %> | <%= link_to "(+)", user_recipe_path( [ingredient, @user_recipe] ), method: :update %> </p>
      </li>
  <% end %>
</ol>
