<h3><%= @recipe.name %></h3>
<div>
  <h3>Ingredients:</h3>
	<table id="recipe">
	  <thead>
	    <tr>
		   <th>Ingredient</th>
		   <th>Quantity</th>
		</tr>	
	  </thead>
	  <tbody>
	    <% @recipe.ingredients.each do |ingredient| %>
		  <tr>
		    <th><%= link_to ingredient.name, ingredient_path(ingredient), id: "ingredient-link-#{ingredient.id}" %></th>
		      <th> ingredient.quantity</th>
		    </tr>	
		  <% end %>
		</tbody>


