<% if @recipes %>
 <% @recipes.each do |recipe| %>
    <p><%= link_to recipe.name, recipe_path(recipe), id: "recipe-link-#{recipe.id}" %>
      <%= link_to "(+)", user_recipes_path(id: recipe.id), method: :post %> </p>
  <% end %>
<% end %>


<%= link_to "List a new Recipe", new_recipe_path(@recipe), id: "new_recipe-link" %>
