<%= link_to "Home", root_path %>

<h3><%= @user.username %>'s Page</h3>

<p><%= @user.username %>'s Saved Recipes<p>

<% if @user.recipes.any? %>
  <% @user.recipes.each do |recipe| %>
    <p><%= link_to recipe.name, recipe_path(recipe) %></p>
  <% end %>
<% end %>


