#new-recipe-link{
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom:25px;
  font-weight: bold;
}

// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

